[user]
  email = tylerkindy@gmail.com
  name = Tyler Kindy
[remote "origin"]
  prune = true
[commit]
  gpgsign = true

[core]
  autocrlf = input
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
