[user]
	email = tkindy@hubspot.com
	name = Tyler Kindy
	signingkey = /Users/tkindy/.ssh/id_rsa.pub
[core]
	hooksPath = /Users/tkindy/.git_hooks
	excludesfile = /Users/tkindy/.gitignore_global
	pager = delta
[commit]
  gpgsign = true
[remote "origin"]
	prune = true
[hub]
	host = git.hubteam.com
[pull]
	rebase = true
[delta]
	navigate = true
[advice]
	detachedHead = false
	macheteEditorSelection = false
[color "diff-highlight"]
	newNormal = green
	newHighlight = green 22
[url "git@git.hubteam.com:HubSpot/"]
  insteadOf = "hs:"
[rebase]
	updateRefs = true
	autosquash = true
[gpg]
	format = ssh
[rerere]
	enabled = true
[diff]
	colorMoved = default
