[user]
	email = tkindy@hubspot.com
	name = Tyler Kindy
[core]
	hooksPath = /Users/tkindy/.git_hooks
	excludesfile = /Users/tkindy/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[remote "origin"]
	prune = true
[hub]
	host = git.hubteam.com
[pull]
	rebase = true
[diff-so-fancy]
	markEmptyLines = false
	stripLeadingSymbols = false
[advice]
	detachedHead = false
	macheteEditorSelection = false
[color "diff-highlight"]
	newNormal = green
	newHighlight = green 22
[url "git@git.hubteam.com:HubSpot/"]
  insteadOf = "hs:"
[rebase]
	updateRefs = true
